.about-root{
    background-color: darkgray;
    padding-top: 20px;
    z-index: 1;
    border: black 3px solid;
}

.about{
    /* display: flex; */
    justify-content: center;
    align-items: center;
    text-align: center;
}