.footer {
  margin-top: 2em;
  position: absolute;
	font-size: medium;
  color: #fff;
  background-color: #262626;
	display: flex;
  width: 95vw;
  height: 4rem;
  text-align: center;
  margin-left:auto;
  margin-right:auto;
}

